// Colors
$grey: #B5B5B7;
$black: #2F313C;
$darkBrown: #52424B;
$yellowBrown: #817747;

// Font
$header: 'Montserrat', sans-serif;
$smallHeader: 'Open Sans', sans-serif;
$paragraph: 'Roboto', sans-serif;

