// Colors
$grey: #B5B5B7;
$black: #000000;
$darkBrown: #52424B;
$yellowBrown: #817747;
$backgroundcolor: rgba(255, 255, 255, 0.746);
// Font
$header: 'Montserrat', sans-serif;
$smallHeader: 'Open Sans', sans-serif;
$paragraph: 'Roboto', sans-serif;

