@import '../../abstracts/abstracts';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  background-color: $black;
  color: #fff;
  z-index: 99999;
  
  &__logo {
    color: aqua;
    font-size: 1.5rem;
    font-weight: 900;
    transition: .2s;
    &:hover {
      color: rgb(15, 155, 155);
    }
  }

  &__menu {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    transition: .4s;
    &:hover {
      color: rgb(173, 173, 173);
    }
  }
}