@import './abstracts/abstracts';

:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $smallHeader;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: $header;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

